<p id="notice"><%= notice %></p>

<p>
  <strong>Html:</strong>
  <%= @scraped_code.html %>
</p>

<p>
  <strong>Text:</strong>
  <%= @scraped_code.text %>
</p>

<p>
  <strong>Scraping Html element:</strong>
  <%= @scraped_code.scraping_html_element %>
</p>

<%= link_to 'Edit', edit_scraped_code_path(@scraped_code) %> |
<%= link_to 'Back', scraped_codes_path %>
