<p id="notice"><%= notice %></p>

<h1>Diff Codes</h1>

<table>
  <thead>
    <tr>
      <th>Scraping Page ID</th>
      <th>Html</th>
      <th>Text</th>
      <th>Scraped code created at</th>
      <th>Scraping page</th>
      <th>Scraped code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diff_codes.each do |diff_code| %>
      <tr>
        <td><%= diff_code.scraping_html_element_id %></td>
        <td class="code" title="<%= diff_code.html %>"><%= diff_code.html %></td>
        <td class="code" title="<%= diff_code.text %>"><%= diff_code.text %></td>
        <td><%= diff_code.scraped_code_created_at %></td>
        <td><%= diff_code.scraping_html_element_id %></td>
        <td><%= diff_code.scraped_code %></td>
        <td><%= link_to 'Show', diff_code %></td>
        <td><%= link_to 'Edit', edit_diff_code_path(diff_code) %></td>
        <td><%= link_to 'Destroy', diff_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
