<p id="notice"><%= notice %></p>

<p>
  <strong>Html:</strong>
  <%= raw @diff_code.html %>
</p>

<p>
  <strong>Text:</strong>
  <%= raw @diff_code.text %>
</p>

<p>
  <strong>Scraped code created at:</strong>
  <%= @diff_code.scraped_code_created_at %>
</p>

<p>
  <strong>Scraping html element id:</strong>
  <%= @diff_code.scraping_html_element_id %>
</p>

<p>
  <strong>Scraped code:</strong>
  <%= @diff_code.scraped_code %>
</p>

<%= link_to 'Edit', edit_diff_code_path(@diff_code) %> |
<%= link_to 'Back', diff_codes_path %>
