<p id="notice"><%= notice %></p>

<h1>Scraping Html Elements</h1>

<table>
  <thead>
    <tr>
      <th>Target element</th>
      <th>スクレイピング</th>
      <th>Scraping page</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scraping_html_elements.each do |scraping_html_element| %>
      <tr>
        <td><%= scraping_html_element.target_element %></td>
        <td><%= link_to 'スクレイピング実行',new_scraped_codes_path(scraping_html_element.id) %></td>
        <td><%= scraping_html_element.scraping_page %></td>
        <td><%= link_to 'Show', scraping_html_element %></td>
        <td><%= link_to 'Edit', edit_scraping_html_element_path(scraping_html_element) %></td>
        <td><%= link_to 'Destroy', scraping_html_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
